body {
  background-color: rgba(254, 243, 199);
}

.img-container {
  background-image: url("https://i.ibb.co/fpkrs0n/screencapture-gifted-mcnulty-3d2007-netlify-app-2021-11-28-12-14-10-1.png");
  background-position: top;
  transition: ease-in-out 8s;
  background-size: cover;
  height: 300px;
}

.img-container:hover {
  background-position: bottom;
}
